<%- include('./header.ejs'); %>
<div class="conatiner-fluid hero-about">
    <div class="row py-5">
        <h1 class="text-center py-5 text-light">About Us </h1>
    </div>
</div>
<div class="container-fluid about-hero p-lg-5">
    <div class="row"> 
        <div class="col-sm-1"></div>
        <div class="col-sm-4 p-3">
            <h3 class="py-lg-5 text-center p-small">About Raw matNfab</h3>
            <div class="text-center">
              <img src="/static/assets/images/aboutus.png" class="about-animate image-fluid">
            </div>
            
        </div>
        
        <div class="col-sm-6 p-lg-5 p-small">
            <h3 class="py-lg-5"></h3>
            <h5>Welcome to Raw Matnfab</h5>
            <p style="text-align:justify;">
            <%- aboutData[0].about %> 
            </span></p>
            <button class="px-3 py-2" onclick="myFunction()" id="myBtn" style="background-color:#753825;color:#fff;border:none">Read more</button>
        
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="container py-5">
    <div class="row">
      <div class="col-sm-4 p-lg-4 p-small">
        <div class="w-100 flip-card" style="min-height:350px;">
          <div class="flip-card-inner">
            <div class="flip-card-front py-3">
              <div class="text-center p-3">
                <div class="card w-100">
                  <img src="/static/assets/images/mission.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Our Mission</p>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="flip-card-back py-5">
            <p class="px-4 pb-4">
              <%- missionData[0].mission %> 
            </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 p-lg-4 p-small">
        <div class="w-100 flip-card" style="min-height:350px;">
          <div class="flip-card-inner">
            <div class="flip-card-front py-3">
              <div class="text-center p-3">
                <div class="card w-100">
                  <img src="/static/assets/images/vision.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Our Vision</p>
                  </div>
                </div>
              </div>

              
            </div>
            <div class="flip-card-back py-5">
            <p class="px-4 pb-4"><%- missionData[0].vision %> </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 p-lg-4 p-small">
        <div class="w-100 flip-card" style="min-height:350px;">
          <div class="flip-card-inner">
            <div class="flip-card-front py-3">
              <div class="text-center p-3">
                <div class="card w-100">
                  <img src="/static/assets/images/goal.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">Our Goal</p>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="flip-card-back py-5">
            <p class="px-4 pb-4">
              <%- missionData[0].goal %> 
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="background-color:#fff">
    <div class="col-sm-7 py-lg-4 px-lg-5 p-small" >
      <h2 class="text-center">Why To Choose Us ?<div class="text-center"><img src="/static/assets/images/border.png"></div></h2>
      <p class=" px-3 text-secondary text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic unde delectus ullam alias cupiditate labore dolores officiis suscipit, eum, fugiat quasi autem deserunt excepturi error aut ducimus commodi laborum sint.</p>
       <div class="row py-3">
        <div class="col-sm-6">
          <div class="d-flex justify-content-center">
            <div class="py-3"><div class="text-center" style="border:3px solid #753825;"><img class="p-2" src="/static/assets/images/profit.png"></div></div>
            <div class="p-3">
              <h5>Competitive and Effective Prices</h5>
              <p class="text-secondary">Our products are the best as compare to pricing. We believe in good quality products with affordable pricing.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="d-flex justify-content-center">
            <div class="py-3"><div class="text-center" style="border:3px solid #753825;"><img class="p-2" src="/static/assets/images/project-management.png"></div></div>
            <div class="p-3">
              <h5>Advance Technologies</h5>
              <p class="text-secondary">Our products are the best as compare to pricing. We believe in good quality products with affordable pricing.</p>
            </div>
          </div>
        </div>
        
       </div>
       <div class="row">
        <div class="col-sm-6">
          <div class="d-flex justify-content-center">
            <div class="py-3"><div class="text-center" style="border:3px solid #753825;"><img class="p-2" src="/static/assets/images/profit.png"></div></div>
            <div class="p-3">
              <h5>A Quality Products</h5>
              <p class="text-secondary">We accomplish our quality products through a process of continuous improvements in all ways of operations.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="d-flex justify-content-center">
            <div class="py-3"><div class="text-center" style="border:3px solid #753825;"><img class="p-2" src="/static/assets/images/profit.png"></div></div>
            <div class="p-3">
              <h5>10+ Year Experience</h5>
              <p class="text-secondary">Our products are the best as compare to pricing. We believe in good quality products with affordable pricing.</p>
            </div>
          </div>
        </div>
        
       </div>
      
      
    </div>
    <div class="col-sm-5 py-5">
      <div class="zoom">
      <img src="/static/assets/images/why-to-choose.jpg" class="img-fluid">

      </div>
      
    </div>

  </div>
  

</div>
<!-- <div class="container-fluid hero-banner">
  <h1 class="text-center text-light py-5">Why Raw Matnfab?</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 px-4 text-center" >
        <div class="text-center p-2" style="border-radius:50%;background-color:#c0c0c0;width:300px;height:300px;">
          <img src="assets/images/discount.png">
          <h4 class="text-light">Competitive and Effective Prices</h4>
          <p class="text-light px-3" style="font-size:12px;">Our products are the best as compare to pricing. We believe in good quality products with affordable pricing.</p>
        </div>
      </div>
      <div class="col-sm-4 px-4 text-center" >
        <div class="text-center p-2" style="border-radius:50%;background-color:#c0c0c0;width:300px;height:300px;">
          <img src="assets/images/best.png">
          <h4 class="text-light">A Quality Products</h4>
          <p class="text-light px-3" style="font-size:12px;">We accomplish our quality products through a process of continuous improvements in all ways of operations.</p>
        </div>
      </div>
      <div class="col-sm-4 px-4 text-center" >
        <div class="text-center p-2" style="border-radius:50%;background-color:#c0c0c0;width:300px;height:300px;">
          <img src="assets/images/engineer.png">
          <h4 class="text-light">Skilled Engineers</h4>
          <p class="text-light px-3" style="font-size:12px;">Our products are the best as compare to pricing. We believe in good quality products with affordable pricing.</p>
        </div>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-sm-4 px-4 text-center" >
        <div class="text-center p-2" style="border-radius:50%;background-color:#c0c0c0;width:300px;height:300px;">
          <img src="assets/images/bulb.png">
          <h4 class="text-light">Advance Technologies</h4>
          <p class="text-light px-3" style="font-size:12px;">Our products are the best as compare to pricing. We believe in good quality products with affordable pricing.</p>
        </div>
      </div>
      <div class="col-sm-4 px-4 text-center" >
        <div class="text-center p-2" style="border-radius:50%;background-color:#c0c0c0;width:300px;height:300px;">
          <img src="assets/images/on-time.png">
          <h4 class="text-light">On Time Delivery</h4>
          <p class="text-light px-3" style="font-size:12px;">We accomplish our quality products through a process of continuous improvements in all ways of operations.</p>
        </div>
      </div>
      <div class="col-sm-4 px-4 text-center" >
        <div class="text-center p-2" style="border-radius:50%;background-color:#c0c0c0;width:300px;height:300px;">
          <img src="assets/images/certificate.png">
          <h4 class="text-light">10+ Year Experience</h4>
          <p class="text-light px-3" style="font-size:12px;">Our products are the best as compare to pricing. We believe in good quality products with affordable pricing.</p>
        </div>
      </div>
    </div>

  </div>
  
      
</div> -->
<div class="container-fluid review-bacground  py-5">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <h3 class="pt-5 pb-5 text-center text-light" style="font-size:2.5rem" >Testimonials </h3>
    <p class="text-center text-light" style="font-size:1.5rem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum soluta eaque cum eius, recusandae possimus repellat? Tenetur non voluptatem rerum, et totam laudantium maiores iusto. Sit pariatur earum odit dolores.</p>

    </div>
  </div>
  <div class="row p-small">
  <div class="testimonial-container">
  <div class="progress-bar"></div>
  <div class="fas fa-quote-right fa-quote"></div>
  <div class="fas fa-quote-left fa-quote"></div>
  <p class="testimonial">
    I've worked with literally hundreds of HTML/CSS developers and I have to
    say the top spot goes to this guy. This guy is an amazing developer. He
    stresses on good, clean code and pays heed to the details. I love
    developers who respect each and every aspect of a throughly thought out
    design and do their best to put it in code. He goes over and beyond and
    transforms ART into PIXELS - without a glitch, every time.
  </p>
  <div class="user">
    <img
         src="https://randomuser.me/api/portraits/women/40.jpg"
         alt="user"
         class="user-image"
         />
    <div class="user-details">
      <h4 class="username">Miyah Myles</h4>
      <p class="role">Marketing</p>
    </div>
  </div>
</div>
  </div>

</div>
<%- include('./footer.ejs'); %>