<%- include('./header.ejs'); %>

<div class="container-fluid product-texture">
    <!-- <div class="row  px-5">
        <div class="col-sm-12 text-center">
            <img class="img-fluid w-100" src="assets/images/rawmatnfab.jpg" style="border-radius:20px " >
        </div>
    </div> -->
    <div class="row px-lg-5 pad-0">
        <%- include('./product-sidebar.ejs'); %>
          
        <div id="productlist-container" class="col-sm-9 p-lg-3 pad-0">
        
            <div class="container" style="height:100%;border-radius:15px;">
                <div class="row py-5">
                    <div class="col-sm-12 text-center">
                        <img class="img-fluid w-100" src="/static/assets/images/rawmatnfab.jpg" style="border-radius:20px;box-shadow: 20px 20px 50px 20px #482720;" >
                    </div>
                </div>
                <h3 class="py-lg-5 px-2 text-light">Product Range</h3>
                <div class="row">
                <div class="swiper productcategory mobile-category">
                    <!-- <h3 class="py-lg-5 px-2">Category</h3> -->
                    <div class="swiper-wrapper py-3">
                        <div class="swiper-slide"><button class="px-3 py-2 category-button">Flanges</button></div>
                        <div class="swiper-slide"><button class="px-3 py-2 category-button">Butt Weld Fittings</button></div>
                        <div class="swiper-slide"><button class="px-3 py-2 category-button">Forged Fitting</button></div>
                        <div class="swiper-slide"><button class="px-3 py-2 category-button">Pipe & Tube</button></div>
                        <div class="swiper-slide"><button class="px-3 py-2 category-button">Plate</button></div>
                        <div class="swiper-slide"><button class="px-3 py-2 category-button">Refactory Anchor</button></div>
                        <div class="swiper-slide"><button class="px-3 py-2 category-button">Structural Steel</button></div>
                        <div class="swiper-slide"><button class="px-3 py-2 category-button">Compression Fitting</button></div>
                        <div class="swiper-slide"><button class="px-3 py-2 category-button">Fastners</button></div>
                    </div>
                    
                </div>

                </div>
            
             
                <div class="row">
                    <% categoriesData.map(category => { %>
              
                    <div class="col-sm-4 p-2">
                        <div class="product-card p-3">
                            <div class="badge">Hot</div>
                            <div class="product-tumb">
                                <img src="<%= category.categoryImage %>" alt="">
                            </div>
                            <div class="product-details">
                                <span style="color:#fff;" class="product-catagory">pipes and fittings</span>
                                <h4><a  style="color:#fff;" href="/category?id=<%= category.categoryId %>"> <%= category.categoryName %> </a></h4>
                                <p  style="color:#fff;"> <%- category.categoryDesc%>   </p>
                                
                            </div>
                        </div>

                    </div>
                          
                    <% }) %>

                </div>
                    
                

            </div>
        </div>
    </div>
</div>
<%- include('./footer1.ejs'); %>